branches:
    only:
    - master
    
    cache:
        directories:
        -$HOME/cache
        
    sudo: required
    
    service:
    - docker
    
    script:
    - docker build -t webapp:test -f ./docker/Dockerfile .
    - docker run -it --rm -v $HOME/cache:/root/.nuget/packages webapp:test